/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont5b62.eot?v=4.6.3');
    src: url('fonts/fontawesome-webfontd41d.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('fonts/fontawesome-webfont5b62.html?v=4.6.3') format('woff2'), url('fonts/fontawesome-webfont5b62-2.html?v=4.6.3') format('woff'), url('fonts/fontawesome-webfont5b62.ttf?v=4.6.3') format('truetype'), url('fonts/fontawesome-webfont5b62.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

.sm{
	@import "styles";
	
	@import "modify";
	
	@import "animate";
	
	@import "font-awesome";
	
	@import "showup";
	
	@import "jqueryfullPage";
}


#bannerdiv{
		margin-top:130px !important;
		max-height: 500px;
	}

@media only screen and (min-width: 320px) and (max-width: 767px) {
   .top-130 {
       margin-top: 70px;
   }
   #bannerdiv{
		margin-top:75px !important;
		
	}
	.carousel {
	    padding-bottom: 20px;
	}
	.carousel-indicators {
	    top: 95% !important;
	}
  }
  
	/* Added for fixing mobile compatibility issues on 11 Aug 2017*/
.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
			display:none;
		}
		
		
	@media (max-width:480px) { 
		#carousel-example-generic {
			display:none !important;
		}
		
		#my-carousel .carousel-inner .item, #my-carousel .carousel-inner .item-1, #my-carousel .carousel-inner .item-2 {
			width: 100% !important;
			min-height: 480px !important;
			background-size: cover;
			background-position: center top;
		}
		#my-carousel .carousel-inner .item {
			background-image: url(../images/mb3.jpg)
		}
		#my-carousel .carousel-inner .item-1 {
			background-image: url(../images/mb1.jpg);
		}
		#my-carousel .carousel-inner .item-2 {
			background-image: url(../images/mb2.jpg)
		}
		.carousel-indicators {
			top: 99%;
		}
		.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
			display:block;
		}
	}
	@media (min-width:480px) { 
		#my-carousel{
			display:none !important;
		}
	}
	@media (max-width:768px) {
		.value-box {
			width: 70%;
			height:auto;
			background: #fff;
			padding: 20px !important;
			text-align:center !important;
			margin:0 auto !important;
			float:none !important;
			
		}
		.value-box img{
			width:60%;
			height:auto;
		}
		#section1{
			margin-top:25px;
		}
		.pad-bot{
			margin-bottom:15px;
		}
		.col-centered {
			display:inline-block;
			float:none;
			/* reset the text-align */
			text-align:left;
			/* inline-block space fix */
			margin-right:-4px;
		}
	}
	


.home .form-control{
	font-size:14px !important;
}

@media (max-width:480px) { 
	#contact-banner, #how-it-works, #privacy-banner, #terms-banner{
		display:none !important;
	}
	#contact-banner-mobile, #how-it-works-mobile, #privacy-banner-mobile, #terms-banner-mobile{
		width: 100% !important;
		min-height: 480px !important;
		background-size: cover;
		background-position: center top;
	}
	#contact-banner-mobile  {
		background-image: url(../images/contactus-banner-Mobile.jpg);
		margin-top: 75px;
	}
	#how-it-works-mobile  {
		background-image: url(../images/howit-works-banner-Mobile.jpg);
		margin-top: 75px;
	}
	#privacy-banner-mobile{
		background-image: url(../images/privacy-policy-banner-Mobile.jpg);
		margin-top: 75px;
	}
	#terms-banner-mobile{
		background-image: url(../images/terms-banner-Mobile.jpg);
		margin-top: 75px;
	}
}
@media (min-width:480px) { 
	#contact-banner-mobile, #how-it-works-mobile, #privacy-banner-mobile, #terms-banner-mobile{
		display:none !important;
	   .navbar-default{
           margin-bottom:40px;
        }
	}

}

	
	
/* Added for fixing mobile compatibility issues on 14 Aug 2017*/