.form-control {
			height: 50px;
			border: 1px solid #37363b;
			font-size:18px;
			color:#000 !important;
			opacity:1;
		}
		button{
			height:50px;
		}
		.btn-primary{
			background:#37363b;
			border: 1px solid #37363b;
			font-size:18px;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
			padding-left:25px;
			padding-right:25px;
		}
		.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
			color: #fff;
			background-color: #000 !important;
			border-color: #000 !important;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
		}
		.getapp .col-md-4{
			padding-left:0;
			padding-right:8px;
		}
		.getapp a{
			text-decoration:none;
			color:#ffffff;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
		}
		.getapp a:hover{
			text-decoration:none;
			color:#000;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
		}
		.carousel-indicators {
			top:76%;
		}
		#bannerdiv .fp-tableCell{
			vertical-align:top !important;
		}
		.navbar{
			margin-bottom:0;
			z-index: 9;
		}
		
		.nav.navbar-right>li>a {
    		text-transform: uppercase;
		}
		.portlet-title-default,.portlet-title-text{
			display: none;
		}
		.portlet-decorate .portlet-content{
			padding: 0;
			background: #f0f0f0;
		}
		.WordSection1 h3,
		.container.white-bg h3 {
		    font-size: 16px;
		    color: #37363b;
		    text-align: left;
		    line-height: 130%;
		    font-weight:bold;
		}
		.container.white-bg h2 {
		    font-size: 20px;
		    line-height: inherit;
		}
		.sm .fp-section.fp-table {
    	 margin: 0px; 
		}
		.col-md-12 {
    	 padding: 0px;
		}
		header {
		    position: absolute;
		    width: 100%;
		}
		.portlet-decorate .portlet-content{
			border:0 none;
		}
		#column-5 #layout-column_column-5{
			
		}
		section{
			margin: 0px;
		}
		.top-130 {
		    margin-top: 130px;
		}
		p {
		    margin: 0px;
		}
		
		.login-container{
 padding: 200px 130px;
}
		
.sucess-message-alert{
	text-align: left; 
	vertical-align: middle; 
	padding-bottom:10px;
	padding-left:10px !important;
}



		
@media (max-width: 767px){	
	.sucess-message-alert{
		padding-left:0px !important;
	}
		#fullpage{
    overflow:hidden;
	  }
	 .top-130 {
	     margin-top: 75px;
	 }
	 .row {
	     margin-left: 0px;
	     margin-right: 0px;
	 }
	 .white-bg {
	     padding: 20px 15px;
	 }
	 .carousel-indicators {
	    z-index: 1;
	  }
	  .pad-50{
	   padding:0px;
	 }
	 .col-xs-12 {
	    width: 100%;
	    padding: 0px;
	  }
}