#setTargets{
	
	#tableheader{
		table td{
			border:none;
			h6{
			    font-size: 10px;
			    line-height: 0;
			    margin: 0px 0px 5px 0px;
			    text-decoration: underline;
			    cursor: pointer;
			}
			input{		
			    width: 100%;
			    padding: 0;
	    		text-align: center;
			}	
			&.grey10{
				background: #f2f2f2;
			}
			&.grey9{
				background: #e8e8e8;
			}
			&.grey8{
				background: #e2e2e2;
			}
			&.grey7{
				background: #d2d2d2;
			}
			&.grey6{
				background: #c6c6c6;
			}
			&.grey5{
				background: #b8b8b8;
			}
			&.grey5{
				background: #a7a7a7;
			}
			&.bordered{
				border: 1px solid #b1b1b1; 
			}
			&.tabarea{
				padding:0;
				border-right: 0;
			    border-left: 0;
			    border-top: 0;
			    background: none;
	    		vertical-align: bottom;
			}
				
			.tabarea {
				padding: 0;
				border-right: 0;
				border-left: 0;
				border-top: 0;
				background: none;
			}
			
			/* Style the list */
			ul.tab {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background: none;
			}
			
			/* Float the list items side by side */
			ul.tab li {
				float: left;
				line-height: 7px;
				margin-right: 1px;
			}
			
			/* Style the links inside the list items */
			ul.tab li a {
				display: inline-block;
				color: black;
				text-align: center;
				text-decoration: none;
				transition: 0.3s;
				border-radius: 10px 10px 0px 0px;
				border: 1px solid #b1b1b1;
				border-bottom: 0;
				font-size: .8em;
				padding: 5px 10px;
			}
			
			/* Change background color of links on hover */
			ul.tab li a:hover {background-color: #ddd;}
			
			/* Create an active/current tablink class */
			ul.tab li a:focus, .active {background-color: #e2e2e2;}
			
			@-webkit-keyframes fadeEffect {
			    from {opacity: 0;}
			    to {opacity: 1;}
			}
			
			@keyframes fadeEffect {
			    from {opacity: 0;}
			    to {opacity: 1;}
			}
		}
	}
}

	.no-close {
		background: transparent !important;
		border: 1px solid transparent !important;
		top: 50% !important;
    	left: 50%  !important;
	}
	
	.no-close  .ui-widget-content {
		background: transparent !important;
		border: 1px solid transparent !important;
	}
	
	.no-close .ui-dialog-titlebar {
		display: none;
	}
	
	.no-close .ui-dialog-content {
		height: auto !important;
	}

#portlet_com_delphi_portlet_DelphiFinancialsAdminPortlet{
	
	.ui-dialog.ui-widget.ui-widget-content{
		z-index:2000; 
	}
	.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	     float: none;
	}
	.ui-widget-header .ui-dialog-title{
	    text-transform: none;    
	}
	#tablecontent, #tableheader {
	    margin-left: 30px;
	}
	
	#tableheader{
		table td{
			border:none;
			h6{
			    font-size: 10px;
			    line-height: 0;
			    margin: 0px 0px 5px 0px;
			    text-decoration: underline;
			    cursor: pointer;
			}
			input{		
			    width: 100%;
			    padding: 0;
	    		text-align: center;
			}	
			&.grey10{
				background: #f2f2f2;
			}
			&.grey9{
				background: #e8e8e8;
			}
			&.grey8{
				background: #e2e2e2;
			}
			&.grey7{
				background: #d2d2d2;
			}
			&.grey6{
				background: #c6c6c6;
			}
			&.grey5{
				background: #b8b8b8;
			}
			&.grey5{
				background: #a7a7a7;
			}
			&.bordered{
				border: 1px solid #b1b1b1; 
			}
			&.tabarea{
				padding:0;
				border-right: 0;
			    border-left: 0;
			    border-top: 0;
			    background: none;
			}
				
			.tabarea {
				padding: 0;
				border-right: 0;
				border-left: 0;
				border-top: 0;
				background: none;
			}
			
			/* Style the list */
			ul.tab {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background: none;
			}
			
			/* Float the list items side by side */
			ul.tab li {
				float: left;
				line-height: 7px;
				margin-right: 1px;
			}
			
			/* Style the links inside the list items */
			ul.tab li a {
				display: inline-block;
				color: black;
				text-align: center;
				text-decoration: none;
				transition: 0.3s;
				border-radius: 10px 10px 0px 0px;
				border: 1px solid #b1b1b1;
				border-bottom: 0;
				font-size: .8em;
				padding: 5px 10px;
			}
			
			/* Change background color of links on hover */
			ul.tab li a:hover {background-color: #ddd;}
			
			/* Create an active/current tablink class */
			ul.tab li a:focus, .active {background-color: #e2e2e2;}
			
			@-webkit-keyframes fadeEffect {
			    from {opacity: 0;}
			    to {opacity: 1;}
			}
			
			@keyframes fadeEffect {
			    from {opacity: 0;}
			    to {opacity: 1;}
			}
		}
	}
	tr.weekend td{
	    background-color: #f2f2f2;
	    color: #888;
	}
	tr.holiday td{
	    background-color: #e2e2e2;
	    color: #999;
	}
	
	.financial-controls form div{
		input,select{	
		    float: left;
		    margin-left: 10px;
	    }
	    select{
	        width: 140px;
	    }
	    input{
	        width: 40px;
	    }
	    label{
			float: left;
	    	width: 60px;
		    text-align: right;
	    }
	    .working-days{
	    	font-size:1.1em;
	    }
	    &>span{
		    text-align: left;
		    float: left;
		    font-weight: bold;
		    font-style: italic;
		    margin-left: 70px;
	    }
	    &:after {
		    content: '';
		    display: block;
		    clear: both;
		}
	}
	
	#message { font-size: 0.9em;  color: #1eb32c;   }
	
}

#tablecontent,#tableheader{
		
	text-align:center;
		
	a:hover { }
	.hidden {  display: none; }
	.white  {  color: #ffffff;}
	.col, .left 	{  float: left; }
	.right 	{  float: right; }
	.clear 	{ clear: both; }
	.green { color: #9fff01  }
	.red { color: #ff7868 }
	.big { font-size: 3em; margin: 5px 0px; }
	pre { border: 1px solid #313131; background-color: rgba(255,255,255,0.2); padding: 5px  }
	
	
	.btn {
	  border: none;
	  font-family: inherit;
	  font-size: inherit;
	  color: inherit;
	  background: none;
	  cursor: pointer;
	  padding: 20px 70px;
	  display: inline-block;
	  margin: 15px 30px;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	  font-weight: 300;
	  outline: none;
	  position: relative;
	  -webkit-transition: all 0.3s;
	  -moz-transition: all 0.3s;
	  transition: all 0.3s;
	  text-decoration: none;
	
	  color: #fff;
	  overflow: hidden;
	  background-color: rgba(0,0,0,0.3);
	}
	
	/* all */
	::-webkit-input-placeholder { color:#555555; font-weight: 300;  }
	::-moz-placeholder { color:#555555; font-weight: 300 } /* firefox 19+ */
	:-ms-input-placeholder { color:#555555; font-weight: 300 } /* ie */
	input:-moz-placeholder { color:#555555;font-weight: 300  }
	
	#footer { position: relative; background-color: #313131; text-align: center; padding: 10px 0px;}
	#footer a { color: #d1d1d1; margin: 0 10px  }
	
	table { width: 100%; }
	table td {    
	  padding: 2px;
   	  
   	  width: 9.105%;
	}      
	table td i { margin: 0px 5px; color: #636363 }
	table th {
		background: #636363;   
		border: 1px solid #b1b1b1;  
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: 300;
		padding: 6px;
		color: #fff;
		text-align:center;
	}  
	table th a {
	  color: #fff;
	  
	}
	table td {
		border: 1px solid #b1b1b1;
	}  
	
	
	#toggle { position: fixed; left: 0; padding: 10px; z-index: 10000; cursor: pointer; }
	#toggle i { color: #fff;  font-size: 1.5em; }
	
	.ui-state-holiday a {
    	background-color: #42B373 !important;
    	background-image :none !important;
   		color: #ffffff !important;
	} 
	.editablegrid-holiday{
		display: none;
	}
	
	.no-close{
		    background: transparent !important;
		    border: 1px solid transparent !important; 
	}
	.no-close .ui-dialog-titlebar {
	  display: none ;
	}
	.no-close .ui-dialog-content {
	     height: auto !important;
	}
}