	.no-close {
		background: transparent !important;
		border: 1px solid transparent !important;
		top: 50% !important;
    	left: 50%  !important;
	}
	
	.no-close  .ui-widget-content {
		background: transparent !important;
		border: 1px solid transparent !important;
	}
	
	.no-close .ui-dialog-titlebar {
		display: none;
	}
	
	.no-close .ui-dialog-content {
		height: auto !important;
	}
	.current-selection {
		display: inline-block; 
		font-size:16px;
		margin: 4px 6px 0 31px;
	}
	.is-datepick {
    border: 1px solid #ccc;
        border-top-color: rgb(204, 204, 204);
        border-right-color: rgb(204, 204, 204);
        border-bottom-color: rgb(204, 204, 204);
        border-left-color: rgb(204, 204, 204);
   
    background-image: url(/o/delphifinancials/images/calendar.gif);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-color: #fff !important;
    cursor: pointer;
}
	@media (min-width: 768px) {
		#p_p_id_com_delphi_portlet_DelphiFinancialsDashboardPortlet_ {
			.delphidash {
				.bordered {
					border: 1px #aaa solid;
				}
			}
		}
	}
	
	@media (max-width: 767px) {
		#p_p_id_com_delphi_portlet_DelphiFinancialsDashboardPortlet_{
			.button-row{
				padding: 0;
			}
		}
		.mobile-bordered {
			border: 1px #aaa solid;
		}
		.current-selection {
			margin: 6px 6px 0 4px!important;
		}
		a.btn.btn-default.btn-rounded {
			margin-right: 0!important;
		}
		.bottom-margin.topchartarea {
			padding: 0;
		}
		#mapByRegiondiv {
			border: 1px #aaa solid;
			margin-bottom: 8px;
		}
		#divisionChartdiv {
			border: 1px #aaa solid;
				.amChartsLegend.amcharts-legend-div {
					left: -43px;
				}
				text.amcharts-legend-value {
					transform: translate(213px,7px);
				}
		}
		#timeSeriesTabs {
			.amChartsLegend.amcharts-legend-div {
					left: -43px;
			}
		}
	}
	.ui-datepicker {
		.ui-datepicker-prev.ui-corner-all,
		.ui-datepicker-next.ui-corner-all,
		.ui-datepicker-next.ui-corner-all.ui-state-disabled {
			display: none;
		}
	}

#p_p_id_com_delphi_portlet_DelphiFinancialsDashboardPortlet_{
	.activeButton{
    	background-color: #1ab394 !important;
    	color: #fff;
    	padding: 5px 10px;
	}		
	.fa{
		font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		
		&.ico-after:after {
			padding-left: 6px;
		}
	}
	
	.ui-dialog .ui-widget.ui-widget-content{
		z-index:2000;
	}
	
	.no-close {
		background: transparent !important;
		border: 1px solid transparent !important;
	}
	
	.no-close  .ui-widget-content {
		background: transparent !important;
		border: 1px solid transparent !important;
	}
	
	.no-close .ui-dialog-titlebar {
		display: none;
	}
	
	.no-close .ui-dialog-content {
		height: auto !important;
	}
		
	.delphidash { 
		.badge{
			width: 99%;
		    padding: 5px;
		    margin: 3px 0px 7px 0;
		}
		#bulletchartdiv .col-xs-4,
		#bulletchartdiv .col-xs-6,
		#bulletchartdiv .col-xs-8 {
		    padding: 0 2px;
		    font-size: .7em;
		}
		#bulletchartdiv .col-xs-4{
			margin-top:4px;
		}
		
		.legend{
			width:25px;
			height:15px;
	   		display: inline-block;
			
			&.target-expense{
				border-top:2px solid #a9a9a9;
			}
			&.expense-good{
				background-color:#168839;
			}
			&.expense-warn{
				background-color:#F4D342;
			}
			&.expense-bad{
				background-color:#a12a2a;
			}
			&.tfp{
				background-color:#8aa8ce;
			}
			span{
    			position: absolute;
    			display: block;
    			top: 21px;
    			left: 42px;
			}
			&:last-child {
				top: 22px;
			}
		}
		
		.ui-datepicker-trigger{
			margin: 8px;
		    vertical-align: top;
		}
		.button-row{
		    font-size: 1.2em;
		    margin-bottom: 8px;
		}
		.dash-controls{
			background-color:#f2f2f2;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px; 
			-khtml-border-radius: 5px;
			padding: 10px 3px;
	    	margin-bottom: 10px;
			input[type='text']{
				background-color: white;
			}
		}
		.dashboard-controls{
			input[type='button']{
				background-color: white;
			    font-size: 12px;
			    border: 1px solid #e7eaec;
			    border-radius: 4px;
			}
		}
		.rockerswitch{
			span{
				border: 1px #aaa solid;			
			    padding: 2px 10px;
			    margin: 0;
			    cursor:pointer;
			    
				&:first-child{
					border-right:none;
				}
			}
		}
		.bottom-margin{
		    margin-bottom: 8px;
		}
		
		#chartdiv {
			width: 100%;
			height: 500px;
		}
		
		#expenseCycleDiv, #revenueCycleDiv {
			height: 300px;
			margin: auto;
		}
		
		#bulletchartdiv1, #bulletchartdiv2, #bulletchartdiv3, #bulletchartdiv4,
			#bulletchartdiv5 {
			height: 250px;
			margin: auto;
		}
		
		#divisionChartdiv {
			height: 300px;
		}
		
		.amcharts-main-div .amcharts-chart-div a {
			display: none !important;
		}
		
		.amcharts-export-menu ul {
			width: 51px;
		}
		
		.tabarea {
			padding: 0;
			border-right: 0;
			border-left: 0;
			border-top: 0;
			border-bottom: 0;
			background: none;
		}
		
		/* Style the list */
		ul.tab {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background: none;
		}
		
		/* Float the list items side by side */
		ul.tab li {
			float: left;
			line-height: 7px;
			margin-right: 1px;
		}
		
		/* Style the links inside the list items */
		ul.tab li a {
			display: inline-block;
			color: black;
			text-align: center;
			text-decoration: none;
			transition: 0.3s;
			border-radius: 10px 10px 0px 0px;
			border: 1px solid #b1b1b1;
			border-bottom: 0;
			font-size: .8em;
			padding: 5px 10px;
		}
		
		ul.tab li a:hover {
			background-color: #ddd;
		}
		
		/* Create an active/current tablink class */
		ul.tab li a:focus, .active {
			background-color: #e2e2e2;
		}
	}
	
	.fa-times:before, .fa-times:after {
	  content: "\f00d";
	}
	.fa:before, .fa:after {
	  display: inline-block;
	  font: normal normal normal 14px/1 FontAwesome;
	  font-size: inherit;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  transform: translate(0, 0);
	}
	
	.fa:after, .fa:after {
	    display: none;
	}
	.fa.ico-after:after, .fa.ico-after:after {
	    display: inline-block;
	}
	
	
	.fa.ico-after:before,
	.fa.ico-after:before {
	    display: none;
	}
}

html .portlet .portlet-spinner{
	border-color: transparent;
	display: block;
	position: absolute;
	z-index:1100;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.5);
	.spinner-wrapper{
		height: auto;
		padding-top: 20%;
	}
}