body{
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    line-height: 20px;
	color:#373737;
}

a{
	text-decoration:none;
	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
	color:#014b87;
	font-weight:600;
}
a:hover{
	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
	color:#0089d1;
}
p{
	font-size: 14px;
    line-height: 20px;
	margin-bottom:21px;
	color:#373737;
}

h1, h2, h3, h4, h5{
	color:#014b87;
}

h1{
	font-size:36px;
	text-transform:uppercase;
	margin-bottom:32px;
	color:#014b87;
}
h2{
	font-size:32px;
	margin-bottom:26px;
}
h3{
	font-size:28px;
}
h4{
	font-size:22px;
	font-weight:600;
	margin-bottom:10px;
}
h5{
	font-size:18px;
	color:#014b87;
	font-weight:400;
}
h6{
	font-size:16px;
	color:#000000;
	font-weight:600;
}
h5.blue-italic{
	font-weight:400;
	font-style:italic;
	color:#004a89;
	text-transform:none;
}
section{
	padding:35px 0;
}
.aboutus{
	padding:55px 0;
}
.aboutus .form-control{
	border: 1px solid #c2c2c2;
}

.pad-bot{
	margin-bottom:25px;
}
.getapp h3{
	font-size:20px;
	color:#ffffff;
	text-align:left;
}
.getapp h2{
	font-size:28px;
	color:#ffffff;
	text-align:left;
}
.getapp p{
	font-size:16px;
	color:#ffffff;
	line-height:24px;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}
.img-responsive { 
    max-width:100% !important;
}
@media (min-width: 992px){
	
}

@media (min-width: 768px){
	.box{
		width:100%;
		height:auto;
	}
	.navbar-right {
		padding: 16px 0 0 0;
	}
	.navbar {
		min-height: 50px;
	}
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 10px;
	}
	
	footer .copy{
		text-align:left !important;
	}
	.pad-50{
		padding:0px 0 0 0px;
		border: none;
	}
	.getapp li {
		list-style:none !important;
		line-height:40px;
	}
}
@media (max-width: 767px){
	/* body{
		padding-top:80px;
	} */
	p {
		font-size: 13px;
		line-height:18px;
	}
	.getapp li {
		list-style:none !important;
		line-height:40px;
	}
	.contact {
		font-size:14px !important;
	}
	label {
		font-size: 14px;
	}
	.nav>li>a {
		padding: 10px 0 !important;
		margin: 0px 15px 0px 15px !important;
		border-bottom:1px solid #dcdcdc;
		font-size:14px !important;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
		border-bottom:1px solid #dcdcdc !important;
	}
	.carousel-indicators li {
		width: 14px !important;
		height: 14px !important;
		margin: 1px !important;
		background-color: #d9d9d9 !important;
		border: 1px solid #fff !important;
		border-radius: 14px !important;	
	}
	.carousel-indicators .active {
		width: 14px !important;
		height: 14px !important;
		margin: 1px !important;
		background-color: #ff7d00 !important;
		border: 1px solid #fff !important;
		border-radius: 14px !important;
	}
	h1{
		font-size:24px;
	}
	h2{
		font-size:20px;
	}
	h3{
		font-size:18px;
	}
	.getapp h3{
		font-size:17px;
		line-height:150%;
	}
	.getapp h2{
		font-size:20px;
	}
	.howitworks h3{
		font-size:17px !important;
	}
	.navbar-brand img {
		width: 50%;
		height:auto;
	}
	.services{
		background-color:#3d3d3d;
		background-image:none !important;
	}
	/* .services .col-xs-12{
		margin-bottom:40px;
	} */
	footer .copyrights{
		margin-top:40px !important;
	}
	footer h2{
		font-size:24px;
	}
	footer .contact{
		font-size:14px !important;
	}
	footer .copyrights a{
		font-size:13px !important;
	}
	footer .copy{
		text-align:left !important;
	}
	.howitworks{
		margin-top:50px;
	}
	.pad-50{
		padding:0px 0 0 0px;
		border: none;
	}
	#section1{
		padding:30px 0;
	}
	.center-block {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-top:30px;
	}
	.navbar-brand {
		padding: 8px 5px !important;
	}
	#leftCol .nav>li>a{
		line-height:16px !important;
	} 
	.ver-br{
		border:none !important;
		padding-left:0px !important;
	}
	.header-container h1 {
		padding-top: 65px !important;
		font-size: 24px !important;
		font-weight: 700 !important;
	}
	.header-container {
		height: 175px !important;
	}
	.verical-border{
		display:none;
	}
}
@media (min-width: 1199px){
	.btn-pad{
		padding-right:30px;
	}
	.pad-50{
		padding:20px 0 0 0px;
		border: none;
	}
	.services{
		height:350px;
	}
	/* footer{
		position:absolute;
	} */
	footer .copy{
		text-align:right !important;
	}
	
	footer .copyrights{
		margin-top:90px;
		text-align:right;
	}
	.privacy{
		text-align:right;
	}
	
	.mr80{
		margin-right:80px;
	}
}
.navbar-brand{
	height:auto;
	padding: 8px 15px;
}
.img-responsive img {
	width: 100%;
	height:auto;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0288cf;
    background-color:#fff !important;
	border-bottom:3px solid #014b88;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #0288cf;
}
.nav>li>a {
	padding: 2px 0;
    margin: 10px 15px;
	font-size:18px;
	font-weight:500;
	font-family: 'Roboto', sans-serif;
	color: #3d3d3d;
}
.nav>li>a:hover {
    color: #3d3d3d;
    background: #e5f3fa;
   
}
.carousel-indicators li {
    width: 16px;
    height: 16px;
    margin: 4px;
    border: 1px solid #004a89;
    border-radius: 16px;
}
.carousel-indicators .active {
    width: 18px;
    height: 18px;
    margin: 4px;
    background-color: #004a89;
    border: 1px solid #fff;
    border-radius: 18px;
}
.value-box{
	width:100%;
	background:#fff;
	padding:20px;
}
.value-box img{
	float:none;
	margin:0 auto;
	text-align:center;
}
.clear{
	clear:both;
}
.howitworks .circles{
	float:none;
	margin:0 auto;
	text-align:center;
}
.howitworks h3{
	font-size:20px;
	line-height: 130%;
}
.circle-icons {
    position: relative;
    width: 120px;
    height: 120px;
    text-align: center;
    padding: 24px 0 0 0;
    font-size: 30px;
    line-height: 2.00;
    border-radius: 120px;
    background-color: #f0f0f0;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
	cursor:pointer;
}
.circle-icons:hover{
	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
	opacity:0.5;
}

footer{
	padding:18px 0;
	width:100%;
	background:#004a89;
	color:#ffffff;
	font-size:12px !important;
	bottom:0;
	margin-top:50px;
}
footer a{
	color:#fff;
	text-decoration:none;
	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
footer a:hover{
	color:#0089d1;
	text-decoration:none;
	-o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.white-bg{
	background:#ffffff;
	box-shadow:4px 4px 4px #ccc;
	padding:20px 40px;
	margin-bottom:50px;
}
.page-title {
	padding:20px 0;
}
.video{
	text-align:center;
	margin:25px 0 !important;
}
.clear{
	clear:both;
}
iframe{
	border:1px solid #d8d8d8;
}
.contactus{
	font-size:18px;
}
.contactus a{
	color:#ff7d00;
	text-decoration:none;
}


.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* align button at bottom */
.vertical-align-bottom { vertical-align: bottom !important; }
.btn{
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	margin-bottom:8px;
}
.btn-blue {
    color: #ffffff;
    background-color: #004a89;
    border-color: #004a89;
	padding:6px 48px;
}
.btn-blue:hover {
    color: #ffffff;
    background-color: #0083cf;
    border-color: #0083cf;
}
.btn-primary {
    font-size: 16px !important;
}
.btn-orange {
    font-size: 15px;
	color:#000;
	text-transform:uppercase;
	font-weight:600;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
	border: 1px solid #ddd;
	padding:10px 40px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	
	background: #ffed54; /* Old browsers */
	background: -moz-linear-gradient(top, #ffed54 0%, #ff6702 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffed54 0%,#ff6702 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffed54 0%,#ff6702 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed54', endColorstr='#ff6702',GradientType=0 ); /* IE6-9 */
}
.btn-orange:hover{
	background: #ff6702; /* Old browsers */
	background: -moz-linear-gradient(top, #ff6702 0%, #ffed54 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff6702 0%,#ffed54 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff6702 0%,#ffed54 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6702', endColorstr='#ffed54',GradientType=0 ); /* IE6-9 */
	
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
.btn-gray {
    font-size: 15px;
	color:#000;
	text-transform:uppercase;
	font-weight:600;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
	border: 1px solid #ddd;
	padding:10px 40px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	
	
	background: #dcdcdc; /* Old browsers */
	background: -moz-linear-gradient(top, #dcdcdc 0%, #8d8d8d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #dcdcdc 0%,#8d8d8d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #dcdcdc 0%,#8d8d8d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#8d8d8d',GradientType=0 ); /* IE6-9 */
}
.btn-gray:hover {
	background: #8d8d8d; /* Old browsers */
	background: -moz-linear-gradient(top, #8d8d8d 0%, #dcdcdc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8d8d8d 0%,#dcdcdc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8d8d8d 0%,#dcdcdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8d8d', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

footer .copy{		
	font-size:13px;
}
.pad-50{
	padding:20px 0 0 30px;
	border-right: 1px solid #999999;
}
.getapp li {
	margin-right:10px;
	list-style:none !important;
	font-size:18px;
	line-height:38px;
	color:#ffffff;
	font-weight:500;
}
.getapp .fa{
	vertical-align:middle;
	margin-right:7px;
	font-size:1.4em;
}
.getapp li img{
	vertical-align:middle;
	margin-right:15px;
}
.languages li{
	margin-right:10px;
	list-style:none !important;
	font-size:16px;
	color:#ffffff;
	font-weight:500;
}
.form-control {
			height: 50px;
			border: 1px solid #37363b;
			font-size:14px;
			color:#000 !important;
			opacity:1;
		}
		button{
			height:50px;
		}
		.btn-primary{
			background:#37363b;
			border: 1px solid #37363b;
			font-size:18px;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
			padding-left:25px;
			padding-right:25px;
		}
		.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
			color: #fff;
			background-color: #000 !important;
			border-color: #000 !important;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
		}
		.getapp .col-md-4{
			padding-left:0;
			padding-right:8px;
		}
		.getapp a{
			text-decoration:none;
			color:#ffffff;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
		}
		.getapp a:hover{
			text-decoration:none;
			color:#000;
			-o-transition: .5s;
			-ms-transition: .5s;
			-moz-transition: .5s;
			-webkit-transition: .5s;
			transition: .5s;
		}
		.carousel-indicators {
			top:75%;
		}
		#bannerdiv .fp-tableCell{
			vertical-align:top !important;
		}
		.navbar{
			margin-bottom:0;
			z-index: 9;
			padding: 10px 0 0 0;
		}
		.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
			display:none;
		}
		
@media (max-width:480px) { 
		#carousel-example-generic {
			display:none !important;
		}
		#my-carousel .carousel-inner .item, #my-carousel .carousel-inner .item-1, #my-carousel .carousel-inner .item-2 {
			width: 100% !important;
			min-height: 480px !important;
			background-size: cover;
			background-position: center top;
		}
		#my-carousel .carousel-inner .item {
			background-image: url(../images/mb3.jpg)
		}
		#my-carousel .carousel-inner .item-1 {
			background-image: url(../images/mb1.jpg)
		}
		#my-carousel .carousel-inner .item-2 {
			background-image: url(../images/mb2.jpg)
		}
		.carousel-indicators {
			top: 90%;
		}
}
@media (min-width:480px) { 
	#my-carousel{
		display:none !important;
	}
	
}
	
.col-sm-3half, .col-sm-8half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .colmd2-12 .col-md-2-12per{
        
    }
    .colmd2-edit .col-md-2-12per{
        float: left;
		width: 12%;
    }
    
}

#section1{
		background: #0082d2; /* Old browsers */
		background: -moz-linear-gradient(top, #0082d2 0%, #0082d2 0%, #014b89 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #0082d2 0%,#0082d2 0%,#014b89 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #0082d2 0%,#0082d2 0%,#014b89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082d2', endColorstr='#014b89',GradientType=0 ); /* IE6-9 */
}
 #carousel {
	width: 100%;
	height: 500px;
	position: relative;
	clear: both;
	overflow: hidden;
}

#carousel img {
	visibility: hidden; /* hide images until carousel can handle them */
	cursor: pointer; /* otherwise it's not as obvious items can be clicked */
}
.text-white{
	color:#ffffff;
}
#section1 a, #section3 a{
	color:#ffffff !important;
	opacity:1;
}
#section3{
	background: #014b89; /* Old browsers */
	background: -moz-linear-gradient(top, #014b89 0%, #0082d2 100%, #0082d2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #014b89 0%,#0082d2 100%,#0082d2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #014b89 0%,#0082d2 100%,#0082d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014b89', endColorstr='#0082d2',GradientType=0 ); /* IE6-9 */
}
#section3 h1{
	color:#ffffff;
}
#section2{
	background:#f2f2f2;
}
/* Testmonial start */
	#section2 .parent-box{
    width:100%;
	min-height:200px;
	float:left;
	display:flex;
	background:#ffffff;
	border-radius:10px;
	padding:15px 25px 5px 25px;
	/* -webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.08);
	-moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.08);
	box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.08); */
	position:relative;
	background-image: url("../images/quote-icon.png");
	background-position: left 15px top 15px;
	background-repeat:no-repeat;
}

#section2 .parent-box:after {
	content: '';
	display: block;  
	position: absolute;
	left: 45%;
	bottom: -30px;
	width: 0;
	height: 0;
	border-top: 30px solid #ffffff;
	border-left: 30px solid transparent;
	border-bottom: 0 solid transparent;
	border-right: 0 solid transparent;
	
}
.red:after {
	border-top: 50px solid red;
	border-right: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 50px solid transparent;
}
#section2 .info > div:first-of-type{
    width: 100%;
    float: left;
    padding: 5px;
    padding-top:10px;
    /* display: flex; */
	text-align:right;
}     
#section2 .info > div:first-of-type > p{
    padding-left:15px; 
    color:#1E3344;
    text-decoration: none;
	text-align:right;
}
#section2 .info > div:last-of-type{
    width: 50%;
    float: left;
    padding: 5px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#section2 .info > div:last-of-type > img{
    width:100%;
}
#section2 .box{
    width:100%;
    height:100%;        
    padding: 15px 15px 0 15px;
}
#section2 .dialog-box span{
    font-weight: bold;
    padding:15px 15px 0px 15px;
    font-size: 14px;
    display: table-cell; 
    color:#a2904b;
}
#section2 .dialog-box i{
    float: right;
    margin-right: 16px;
    margin-top: 7px;
}
#section2 .dialog-box{
    width: 100%;
    height: 55%;
    font: normal 20px/25px 'Titillium Web', 'Arial'; 
    display: table;
    position: relative;
    letter-spacing: 1px;
    border-radius: 1px;
}

#section2 .dialog-box > p{
    margin: 0;
    display: table;
    width: 100%;
	font-size:14px;
	line-height:18px;
	text-align:center;
}
#section2 .customer-name{
	text-align:right;
}
.profile-circle img{
	position:relative;
	margin-left:37%;
	margin-top:40px !important;
}
/* Testmonial end */
hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #c3c3c3;
}
.brtopbottom{
	margin:8px 0;
	padding:5px 0 15px 0;
	border-bottom:1px solid #ffffff;
	border-top:1px solid #ffffff;
}
p.phone-email{
	font-size:18px;
	font-weight:600;
	color:#004a89;
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: 0px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 100px;
  padding-top:4px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: 0px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 100px;
  padding-top:4px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel .fp-tableCell {
    width: 100%;
    height: 100% !important;
}
/* End carousel */

.testimonials {
	padding:30px 0;
}
.mtmb30{
	margin:30px 0;
}
.mb30{
	margin-bottom:30px;
}
.mb15{
	margin-bottom:15px;
}
.mtmb50{
	margin:50px 0;
}
.mt50{
	margin-top:50px;
}
.text-center{
	text-align:center;
}
th{
	background:#014b8a;
	color:#ffffff;
}
.td-right table th, .td-right table td{
	text-align:right;
}
.table-striped{
	background:#d9edf8
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
	font-size:12px;
	font-weight:600;
}
ul.arrow, ul.arrow li {
    list-style: none;
    line-height: 185%;
	text-indent: -8px;
}
ul {
    margin-bottom: 25px;
}
ul.arrow li i {
    margin-right: 8px;
    color: #00a9da;
    font-weight: 600;
}

.header-container {
    background-size: 100%;
    max-width: 100%;
    height: 259px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 25px;
}
.header-container h1 {
    padding-top: 100px;
    vertical-align: middle;
    color: #0288cf;
    font-size: 36px;
	text-transform:uppercase;
	font-weight:600;
}
.return-policy-banner {
    background: url(../images/return-policy-banner.jpg) no-repeat center center;
}
.faqs-banner {
    background: url(../images/faqs-banners.jpg) no-repeat center center;
}
.enquiry-banners {
    background: url(../images/enquiry-banners.jpg) no-repeat center center;
}
.privacy-policy-banners {
    background: url(../images/privacy-policy-banners.jpg) no-repeat center center;
}


/* Nav sidebar start */
#leftCol .nav>li>a {
    padding: 0px 0 0 18px;
	margin:0;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
    line-height: 36px;
}


.navbar-bright {
 background-color:#e5f3fa;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:10px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:60px;
    width:228px;
  }
}

#leftCol ul li.hover, #leftCol ul li.active, #leftCol ul li.focus, #leftCol ul li.visited {
  border:0 #008ad2 solid;
  border-right-width:5px;
  background:#e5f3fa;
}
#sidebar li .fa{
	position:absolute;
	vertical-align:middle;
	z-index:9;
	margin-top: 8px;
	font-size:18px;
	color:#014b89;
}
@media (min-width: 992px){
	#leftCol.col-md-3 {
		width: 21%;
	}
}
/* Nav sidebar end */
.ver-br{
	border-left:1px solid #ccc;
	padding-left:25px;
}
ol{
    padding-left: 15px;
}

 #contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */
.form-btn{
	margin-right:10px;
}
  .form{
    width: 100%;
    padding: 13px;
	border-radius:4px;
    border:1px solid #c2c2c2;
    margin-bottom:25px;
    color:#727272 !important;
    font-size:14px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

 .verical-border{
	width:50%;
	min-height:500px;
	border-right:1px solid #ddd;
	vertical-align:top;
 }
 